header{
 background: rgba($color-4,.75);
 color: #000;
 display: inline-block;
 height: 50px;
 line-height: 50px;
 position: fixed;
 transition: all 0.5s linear;
 width: 100%;
 z-index: 99;

 .logo{
  height: 50px;
  margin: 0 auto;
  text-align: center;
  width: 200px;

  img{
  	border: 0;
   height:40px;
   margin: 5px auto;
  }
 }
}