/* --- COLORS --- */
/* --- Main Colors --- */
/* --- Primary Variations --- */
/* --- Secondary Variations --- */
/* --- Tertiary Variations --- */
/* --- Social Colors --- */
/*--- main elements ---*/
body {
  background: #000;
  color: #313132;
  font: 400 14px/1.4em 'Open Sans',sans-serif;
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none; }

iframe {
  margin: 20px 0; }

/*--- heading styles ---*/
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase; }
  h1.dark, h2.dark, h3.dark, h4.dark, h5.dark, h6.dark {
    color: #fff; }

h1 {
  color: #fff;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.15em; }

h2 {
  color: #999;
  font-size: 1.5em;
  font-weight: 400; }

h3 {
  color: #149dcc;
  font-size: 1.125em;
  font-weight: 600; }

h4 {
  color: #ff0998;
  font-size: .8625em;
  font-weight: 300; }

h5 {
  color: #999;
  font-size: .8625em;
  font-weight: 600; }

h6 {
  color: #313132;
  font-size: 1.125em;
  font-weight: 300; }

/*--- paragraph styles ---*/
p {
  color: #313132;
  margin: 10px 0 15px; }
  .dark p {
    color: #fff; }
  figure + p {
    margin: 25px 0; }
  h3 + p {
    margin-bottom: 25px; }

/*--- link styles ---*/
a, a:link {
  color: #313132; }

a:hover {
  color: #ff0998; }

/*--- list styles ---*/
li {
  display: inline-block;
  list-style: none; }

/*--- image styles ---*/
img {
  display: block; }

.c-clear:after {
  clear: both;
  content: '';
  display: block; }

.c-main {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  left: 0;
  min-width: 320px;
  overflow-y: auto;
  position: relative;
  top: 0;
  transition: left 0.5s linear;
  width: 100%;
  z-index: 85; }
  .c-main--is-open {
    left: 240px; }

/* --- button structure --- */
.button {
  display: inline-block;
  font-size: .75em;
  padding: .3em 4em;
  text-transform: uppercase; }
  .button .primary {
    background: #313132;
    color: #fff; }
    .button .primary:hover {
      background: #999;
      color: #fff; }

/* --- button colors on a light background --- */
.button-secondary {
  background: #ff0998;
  color: #fff; }
  .button-secondary:hover {
    background: #fff;
    color: #fff; }

.button-default {
  border: 1px solid #313132;
  color: #313132; }
  .button-default:hover {
    border: 1px solid #999;
    color: #999; }

/* --- button colors on a dark background --- */
.dark-button-primary {
  background: #fff;
  color: #313132; }
  .dark-button-primary:hover {
    background: #999;
    color: #313132; }

.dark-button-secondary {
  background: #ff0998;
  color: #fff; }
  .dark-button-secondary:hover {
    background: #fff;
    color: #fff; }

.dark-button-default {
  border: 1px solid #fff;
  color: #fff; }
  .dark-button-default:hover {
    border: 1px solid #999;
    color: #999; }

/* --- form elements --- */
label {
  color: #ff0998;
  font-size: .8675em;
  font-weight: 400;
  text-transform: uppercase; }

/* --- form input fields --- */
input {
  border: solid 1px #999;
  transition: all ease .5s; }
  input:focus {
    border: solid 1px #ff0998;
    box-shadow: 0 0 10px -5px #ff0998; }

textarea {
  border: solid 1px #999;
  transition: all ease .5s; }
  textarea:focus {
    border: solid 1px #ff0998;
    box-shadow: 0 0 10px -5px #ff0998; }

/* --- form buttons --- */
button {
  background: #ff0998;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: .75em;
  padding: 4px 50px;
  text-transform: uppercase; }
  button:hover {
    background: #fff;
    color: #fff; }

/*--- navigation menu ---*/
.c-navigation {
  background-color: #000;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#737373), to(#000));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #737373, #000);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #737373, #000);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #737373, #000);
  /* IE10 */
  background-image: -o-linear-gradient(top, #737373, #000);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #737373, #000);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#737373', EndColorStr='#000');
  left: 0;
  transition: all .5s linear;
  position: fixed;
  top: 0px;
  width: 320px;
  z-index: 0; }
  .c-navigation__list {
    display: inline-block;
    float: left; }
    .c-navigation__list-item {
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      font-size: 1em;
      font-weight: 400;
      height: 50px;
      line-height: 50px;
      padding: 0 10px;
      text-transform: uppercase;
      transition: all 0.5s ease;
      width: 320px; }
  .c-navigation__title {
    color: #fff; }
  .c-navigation__primary {
    color: #999;
    padding-left: 20px; }
    .c-navigation__primary:before {
      content: '\f0da';
      display: inline-block;
      float: right;
      font-family: FontAwesome;
      position: relative;
      right: 100px;
      transition: all 0.5s ease; }
    .c-navigation__primary:hover {
      background: rgba(86, 0, 50, 0.75);
      color: #fff; }

.c-header {
  background: rgba(255, 255, 255, 0.75);
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 999; }
  .c-header .c-logo {
    cursor: pointer;
    display: block;
    fill: #313132;
    height: 40px;
    margin: 5px;
    position: absolute;
    left: 50px;
    transition: fill 0.25s ease-out;
    width: 140px; }
    .c-header .c-logo:hover {
      fill: #ff0998; }
  .c-header .c-menu__button {
    cursor: pointer;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px; }
    .c-header .c-menu__button:before {
      color: #313132;
      content: '\f0c9';
      display: inline-block;
      font: 400 28px/50px FontAwesome;
      text-align: center;
      transition: color 0.25s ease-out;
      width: 50px; }
    .c-header .c-menu__button:hover::before {
      color: #ff0998; }

footer {
  background: #313132;
  margin: 25px 0 0; }
  footer .social {
    margin: 0 auto;
    display: block;
    height: 50px;
    width: 250px; }
    footer .social ul {
      padding: 10px 0; }
      footer .social ul li {
        float: left; }
    footer .social .social-icon {
      background: #595959;
      border-radius: 50%;
      cursor: pointer;
      display: inline-block;
      height: 30px;
      margin: 0 5px;
      width: 30px; }
      footer .social .social-icon:before {
        font-family: FontAwesome; }
    footer .social .twitter:hover {
      background: #00aced; }
    footer .social .twitter:before {
      color: #fff;
      content: '\f099';
      display: block;
      line-height: 30px;
      text-align: center; }
    footer .social .linkedin:hover {
      background: #007bb6; }
    footer .social .linkedin:before {
      color: #fff;
      content: '\f0e1';
      display: block;
      line-height: 30px;
      text-align: center; }
    footer .social .pinterest:hover {
      background: #cb2027; }
    footer .social .pinterest:before {
      color: #fff;
      content: '\f231';
      display: block;
      line-height: 30px;
      text-align: center; }
    footer .social .google:hover {
      background: #dd4b39; }
    footer .social .google:before {
      color: #fff;
      content: '\f0d5';
      display: block;
      line-height: 30px;
      text-align: center; }
    footer .social .codepen:hover {
      background: #000; }
    footer .social .codepen:before {
      color: #fff;
      content: '\f1cb';
      display: block;
      line-height: 30px;
      text-align: center; }
    footer .social .email:hover {
      background: #999; }
    footer .social .email:before {
      color: #fff;
      content: '\f0e0';
      display: block;
      line-height: 30px;
      text-align: center; }

.c-hero {
  background: url("../../images/hero.jpg") no-repeat top center/cover #fff;
  box-shadow: 0 2px 15px -5px rgba(49, 49, 50, 0.5), 0 150px 0 #149dcc;
  height: 280px;
  min-width: 320px;
  position: relative;
  transition: height 0.5s ease-out;
  width: 100%; }
  @media only screen and (min-width: 640px) {
    .c-hero {
      height: 450px; } }
  @media only screen and (min-width: 960px) {
    .c-hero {
      height: 550px; } }
  .c-hero.c-project {
    box-shadow: 0 2px 15px -5px rgba(0, 0, 0, 0.5), 0 150px 0 #ff0998; }
  .c-hero.c-about {
    box-shadow: 0 2px 15px -5px rgba(0, 0, 0, 0.5), 0 150px 0 #149dcc; }
  .c-hero[rel="project-tls-science"] {
    background-image: url("../../images/tls-science.jpg"); }
  .c-hero[rel="project-holiday-central"] {
    background-image: url("../../images/holiday-central.jpg"); }
  .c-hero[rel="project-shop-groceries"] {
    background-image: url("../../images/shop-groceries.jpg"); }
  .c-hero[rel="project-account-snapshot"] {
    background-image: url("../../images/account-snapshot.jpg"); }
  .c-hero[rel="project-booking-engine"] {
    background-image: url("../../images/booking-engine.jpg"); }
  .c-hero[rel="project-casino-mobile-site"] {
    background-image: url("../../images/casino-mobile-site.jpg"); }
  .c-hero[rel="project-aceplay-app"] {
    background-image: url("../../images/aceplay-app.jpg"); }
  .c-hero[rel="about-me"] {
    background-image: url("../../images/about-me.jpg"); }
  .c-hero[rel="gallery"] {
    background-image: url("../../images/gallery.jpg"); }

.c-headline {
  height: 100%;
  margin: 0 auto;
  max-width: 960px;
  min-width: 320px;
  position: relative;
  width: 100%; }
  .c-headline__container {
    background: rgba(255, 9, 152, 0.65);
    box-shadow: 0 2px 2px rgba(49, 49, 50, 0.25);
    font-size: .75em;
    margin-top: -75px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    right: 10px;
    width: 50%; }
    @media screen and (min-width: 460px) {
      .c-headline__container {
        font-size: 1em;
        width: 35%; } }
    .c-headline__container > h1 span {
      font-size: .75em; }

.c-project, .c-about-me {
  margin: 5px auto;
  max-width: 1200px;
  min-width: 320px;
  padding: 10px;
  position: relative;
  width: 100%;
  z-index: 1;
  /* --- home page --- */
  /* --- home page - project pages --- */
  /* --- resume page --- */
  /* --- gallery page --- */ }
  .c-project-title, .c-about-me-title {
    margin: 5px auto 0;
    padding: 5px 0; }
  .c-project-recent, .c-project-details, .c-project-resume, .c-about-me-recent, .c-about-me-details, .c-about-me-resume {
    background: #fff;
    margin: 10px auto;
    padding: 20px 30px; }
    .c-project-recent > h3, .c-project-details > h3, .c-project-resume > h3, .c-about-me-recent > h3, .c-about-me-details > h3, .c-about-me-resume > h3 {
      margin-bottom: 10px; }
  .c-project .container, .c-about-me .container {
    max-width: 960px;
    min-width: 300px;
    width: 100%; }
    .c-project .container.shadow, .c-about-me .container.shadow {
      box-shadow: 0 2px 2px rgba(49, 49, 50, 0.25); }
  .c-project .c-project-list, .c-about-me .c-project-list {
    display: block;
    margin: 0 auto;
    max-width: 900px;
    width: 100%; }
    .c-project .c-project-list-item, .c-about-me .c-project-list-item {
      display: block;
      float: left;
      list-style: none;
      width: 100%; }
      @media screen and (min-width: 480px) {
        .c-project .c-project-list-item, .c-about-me .c-project-list-item {
          width: 50%; } }
      @media screen and (min-width: 640px) {
        .c-project .c-project-list-item, .c-about-me .c-project-list-item {
          width: 25%; } }
  .c-project .c-project-image, .c-about-me .c-project-image {
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    position: relative; }
    .c-project .c-project-image:last-child, .c-about-me .c-project-image:last-child {
      margin-bottom: 0; }
    .c-project .c-project-image.shadow, .c-project .c-project-image .shadow, .c-about-me .c-project-image.shadow, .c-about-me .c-project-image .shadow {
      box-shadow: 0 2px 2px rgba(49, 49, 50, 0.1); }
    .c-project .c-project-image img, .c-about-me .c-project-image img {
      border: 5px solid #fff;
      height: auto;
      width: 100%; }
  .c-project .c-project-name, .c-project .c-project-description, .c-about-me .c-project-name, .c-about-me .c-project-description {
    display: block;
    height: 40px;
    line-height: 40px;
    position: relative; }
  .c-project .c-about-me-resume h1, .c-project .c-about-me-resume h2, .c-project .c-about-me-resume h3, .c-project .c-about-me-resume h4, .c-project .c-about-me-resume h5, .c-about-me .c-about-me-resume h1, .c-about-me .c-about-me-resume h2, .c-about-me .c-about-me-resume h3, .c-about-me .c-about-me-resume h4, .c-about-me .c-about-me-resume h5 {
    line-height: 1.4em;
    margin: 5px 0 0; }
  .c-project .c-about-me-resume h1, .c-about-me .c-about-me-resume h1 {
    color: #cccccc;
    font-size: 1.3em;
    text-transform: uppercase; }
  .c-project .c-about-me-resume h2, .c-about-me .c-about-me-resume h2 {
    color: #149dcc;
    font-size: 1.25em;
    font-weight: 800; }
  .c-project .c-about-me-resume h3, .c-about-me .c-about-me-resume h3 {
    color: #313132;
    font-size: 1em; }
  .c-project .c-about-me-resume h4, .c-about-me .c-about-me-resume h4 {
    color: #094458;
    font-size: .85em; }
  .c-project .c-about-me-resume h5, .c-about-me .c-about-me-resume h5 {
    color: #888;
    font-size: 1em; }
  .c-project .c-about-me-resume li, .c-about-me .c-about-me-resume li {
    display: list-item;
    list-style: disc; }
  .c-project .c-about-me-resume > div:first-child, .c-about-me .c-about-me-resume > div:first-child {
    border-top: none; }
  .c-project .c-about-me-resume .c-resume-category, .c-about-me .c-about-me-resume .c-resume-category {
    border-top: 1px solid #cccccc;
    display: inline-block;
    padding: 25px 0 15px; }
  .c-project .c-about-me-resume .c-skill-list, .c-project .c-about-me-resume .c-accomplishments-list, .c-project .c-about-me-resume .c-experience-list, .c-project .c-about-me-resume .c-volunteer-list, .c-about-me .c-about-me-resume .c-skill-list, .c-about-me .c-about-me-resume .c-accomplishments-list, .c-about-me .c-about-me-resume .c-experience-list, .c-about-me .c-about-me-resume .c-volunteer-list {
    margin: 10px 0 15px; }
    .c-project .c-about-me-resume .c-skill-list-item, .c-project .c-about-me-resume .c-accomplishments-list-item, .c-project .c-about-me-resume .c-experience-list-item, .c-project .c-about-me-resume .c-volunteer-list-item, .c-about-me .c-about-me-resume .c-skill-list-item, .c-about-me .c-about-me-resume .c-accomplishments-list-item, .c-about-me .c-about-me-resume .c-experience-list-item, .c-about-me .c-about-me-resume .c-volunteer-list-item {
      line-height: 1.35em;
      margin: 10px 0 0 25px; }
  .c-project .c-about-me-resume .c-skill-list, .c-about-me .c-about-me-resume .c-skill-list {
    display: inline-block;
    float: left;
    width: 280px; }
    .c-project .c-about-me-resume .c-skill-list-item, .c-about-me .c-about-me-resume .c-skill-list-item {
      margin-top: 5px; }
  .c-project .gallery, .c-about-me .gallery {
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    font-size: .9em;
    margin: 25px auto 0;
    max-width: 960px;
    min-width: 300px;
    padding: 10px 30px 35px;
    width: 100%; }
    .c-project .gallery .gallery-group, .c-about-me .gallery .gallery-group {
      display: table;
      margin: 15px auto;
      max-width: 900px;
      min-width: 300px;
      width: 100%; }
      .c-project .gallery .gallery-group .gallery-display, .c-about-me .gallery .gallery-group .gallery-display {
        display: inline-block;
        float: left;
        list-style: none;
        width: 100%; }
        @media screen and (min-width: 480px) {
          .c-project .gallery .gallery-group .gallery-display, .c-about-me .gallery .gallery-group .gallery-display {
            width: 50%; } }
        @media screen and (min-width: 640px) {
          .c-project .gallery .gallery-group .gallery-display, .c-about-me .gallery .gallery-group .gallery-display {
            width: 25%; } }
        @media screen and (min-width: 960px) {
          .c-project .gallery .gallery-group .gallery-display, .c-about-me .gallery .gallery-group .gallery-display {
            width: 25%; } }
    .c-project .gallery .gallery-display-image, .c-about-me .gallery .gallery-display-image {
      background: #222;
      box-shadow: 0 0 3px #bbb;
      margin: 5px auto;
      position: relative;
      width: 250px; }
      @media screen and (min-width: 480px) {
        .c-project .gallery .gallery-display-image, .c-about-me .gallery .gallery-display-image {
          width: 230px; } }
      @media screen and (min-width: 640px) {
        .c-project .gallery .gallery-display-image, .c-about-me .gallery .gallery-display-image {
          width: 150px; } }
      @media screen and (min-width: 960px) {
        .c-project .gallery .gallery-display-image, .c-about-me .gallery .gallery-display-image {
          width: 200px; } }
      .c-project .gallery .gallery-display-image img, .c-about-me .gallery .gallery-display-image img {
        height: auto;
        width: 100%; }
    .c-project .gallery .gallery-display-name, .c-about-me .gallery .gallery-display-name {
      background: #fff;
      display: block;
      height: 50px;
      line-height: 40px;
      margin: 0 auto;
      padding: 5px;
      position: relative;
      width: 250px; }
      @media screen and (min-width: 480px) {
        .c-project .gallery .gallery-display-name, .c-about-me .gallery .gallery-display-name {
          width: 230px; } }
      @media screen and (min-width: 640px) {
        .c-project .gallery .gallery-display-name, .c-about-me .gallery .gallery-display-name {
          width: 150px; } }
      @media screen and (min-width: 960px) {
        .c-project .gallery .gallery-display-name, .c-about-me .gallery .gallery-display-name {
          width: 200px; } }

/*--- main elements ---*/
#resume h1, #resume h2, #resume h3, #resume h4, #resume h5 {
  line-height: 1.5em;
  margin: 0; }
#resume h1 {
  color: #ccc;
  font-size: 1.75em;
  text-transform: uppercase; }
#resume h2 {
  color: #222;
  font-size: 1.35em; }
#resume h3 {
  color: #666;
  font-size: 1.2em; }
#resume h4 {
  color: #777;
  font-size: 1.1em; }
#resume h5 {
  color: #888;
  font-size: 1em; }
#resume p {
  margin: 0; }
#resume div {
  border-top: 1px solid #ddd;
  padding: 25px 0; }
#resume div:first-child {
  border-top: none; }

/*# sourceMappingURL=style.css.map */
